<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tienda en linea</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1 style="text-align: centerr">Ejemplo3</h1>
            <p>Bienvenidos a la pagina de la tienda...</p>
        </div>
        
        <p>Lorem <Strong>ipaum dolor sit amet...</p>
        <p>Morbi <u>accumsan sapien</u>lacinia ductumat</p>
        <p>Uktricies <i>ornare pretium libero</i>bibendum at torquer</p>
        
        <br>
        <br>
        
        <p><Strong><u><i>Ultima Linea</i></u></strong></p>
    </body>
</html>
