<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 style="text-align: center">Home</h1>
            <p>Bienvenidos a la pagina de la tienda en linea...</p>
        </div>
        
        <p style="text-align: left">Lorem ipsum dolor sit amet consectetur adipiscing elit, magnis quisque nunc hac ut fringilla dui, blandit a donec bibendum vitae aenean.</p>
        <p style="text-align: rigth">Facilisi auctor dignissim sagittis urna tristique litora consequat ultrices parturient, posuere in felis sollicitudin nulla nascetur nibh vehicula, odio malesuada primis netus id mollis integer commodo.</p>
        <p style="text-align: center">Tellus praesent venenatis mus urna diam porttitor orci, aenean justo class pretium nulla enim viverra lobortis, neque imperdiet nec nullam vitae phasellus.</p>
        
        <br>
        <br>
        <p>Ultima linea</p>
    </body>
</html>
